@import '~bootstrap/scss/bootstrap';

body {
  background-color: black;
  color: silver;
  font-size: 3vh;
}

footer {
  font-size: 2.5vh;
}

main {
  margin: 0 auto;
  padding: 10px 20px;
}

.content {
  background-color: black;
  color: silver;
}

.failure {
  background-color: red;
  border: 2px solid red;
  color: black;
  font-size: 3vh;
  text-align: center;
}

.logout {
  display: none;
}

.success {
  background-color: green;
  border: 2px solid green;
  color: black;
  font-size: 3vh;
  text-align: center;
}

.section {
  background-color: black;
}

.animated {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomOutDown;
}

#yeet-display {
  font-size: 10vh;
  // height: 4vh;
  margin: 0 auto;
  width: auto;
}

@keyframes zoomOutDown {
  40% {
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
  }
  100% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
  }
}
